" UI
" Colorscheme settings
if (&t_Co == 256 || has('gui_running'))
    colorscheme wombat256
    highlight clear SignColumn      " SignColumn should match background
    highlight clear LineNr          " Current line number row will have same background color in relative mode
else
    colorscheme default
endif
